<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>
    <form action="/changeEmail" method="POST">
        <h1>Change Email</h1>
        <hr>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" required>


        <button type="submit" class="changeEmail">Change Email</button>
    </form>
    <hr>

    <form action="/changeName" method="POST">
        <h1>Change Name</h1>
        <hr>

        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter Name" name="name" id="name" required>


        <button type="submit" class="changeName">Change Name</button>
    </form>
    <hr>

    <form action="/changePassword" method="POST">
        <h1>Change password</h1>
        <hr>

        <label for="password"><b>New Pasword</b></label>
        <input type="password" placeholder="Enter New Password" name="password" id="password" required>
        <label for="passwordRepeat"><b>Repeat New Pasword</b></label>
        <input type="password" placeholder="Enter New Password" name="passwordRepeat" id="passwordRepeat" required>


        <button type="submit" class="changePassword">Change Password</button>
    </form>
    <hr>
    <form action="/logout" method="POST">
        <button type="submit" class="logout">Logout</button>
    </form>
    <hr>


</body>
</html>
